__pycache__/
teste.sql
venv
env_p.py
__pycache__/
*.py[cod]
*$py.class
pip-log.txt
pip-delete-this-directory.txt
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.spyderproject
.spyproject
/site
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/
poetry.toml
.ruff_cache/
pyrightconfig.json
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
pip-selfcheck.json