<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Produtos</title>
</head>
<body>
    <h1>Cadastro de Produtos</h1>
    <form method="POST">
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome" required>
        <br><br>
        <label for="descricao">Descrição:</label>
        <input type="text" id="descricao" name="descricao" step="0.01" required>
        <br><br>
        <label for="serie">Número de serie:</label>
        <input type="text" id="serie" name="serie" step="0.01" required>
        <br><br>
        <label for="ponto">Ponto focal:</label>
        <input type="text" id="ponto" name="ponto" step="0.01" required>
        <br><br>
        <label for="data">Data:</label>
        <input type="date" id="data" name="data" step="0.01" required>
        <br><br>
        <input type="submit" value="Cadastrar">
    </form>
</body>
</html>