{% extends "index.html" %}
{% block content %}
<div id="main-content" class="flex-grow-1 p-3" style="background-color: #167ee6;">
  <div class="container">
      <div class="row">
          <div class="col-md-4 mb-3">
              <div class="card h-100">
                  <div class="card-body d-flex align-items-center justify-content-center">
                      <div class="text-center">
                        
                          <img src="{{ url_for('static', filename='images/image.png') }}" alt="image" 
                               style="width: 100px; height: 100px; object-fit: cover; margin-bottom: 10px; border-radius: 50%;">
                          {% for key, doc in sample.items() %}
                              <p class="card-title"><strong>{{ key }}</strong></p>
                              {{ doc }}
                          {% endfor %}
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
{% endblock %} 