{% extends "index.html" %}
{% block content %}

<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<div class="container-fluid m-4">
    <h1 class="text-center m-4"> Movimentação de Produtos</h1>
    <div class="row justify-content-left">
        <div class="col-4">
            <div class="input-group mb-3">
                <label class="input-group-text" for="InputOperation01"> Operação </label>
                <select class="form-select " id="InputOperation01" aria-label="Selecione uma operação!" onchange="displayForms()">
                    <option value="" {{ 'selected'  if op_type == None else '' }}>Selecione uma operação...</option>
                    {% for opt in options %}
                        <option value="{{opt}}" {{'selected'  if op_type == opt else ''}}>{{opt}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="col-4">
            <div id="from-btn" class="input-group mb-3">
                <label class="input-group-text" for="InputOperation02"> Ponto de Origem </label>
                <select class="form-select " id="InputOperation02" aria-label="Selecione Ponto de Origem!" onchange="displayForms()">
                    <option value="" {{ 'selected' if position == None else '' }} >O ponto de origem do produto é...</option>
                    {% for points in from_p %}
                        <option value="{{points['codigo']}}" {{'selected' if position == points['codigo'] else ''}}>{{points['nome_local']}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
    {% if op_type  == 'Entrada' %}
    {% include "pages/operations/entry.html" %}
    {% elif op_type  == 'Transferencia' %}
    {% include "pages/operations/transf.html" %}
    {% endif %}

</div>
<script>
    $(document).ready(function () {
        $('#codigo_prod').select2({
            placeholder: "Clique para localizar o produto",
            allowClear: true
        });
    });

    function displayForms() {
        let opType = document.getElementById("InputOperation01").value;
        let fromPoint = document.getElementById("InputOperation02").value;
        if (!opType || !fromPoint) {
            return;
        }
        let url_from = opType != "Entrada" ? `&from=${encodeURIComponent(fromPoint)}` : `&from=LOC_0`;
        let url = `?op_type=${encodeURIComponent(opType)}${url_from}`;
        
        // Redirect or use the URL as needed
        window.location.href = url;
    }

    const urlString = window.location.search;
    const urlParams = new URLSearchParams(urlString);
    let opType = urlParams.get('op_type');
    let from = urlParams.get('from');
    if (opType == "Entrada")
    {
        document.getElementById("InputOperation02").value = "LOC_0";
        document.getElementById("InputOperation02").setAttribute("disabled", true);
    }

    function addProduct() {
        let codigo = document.getElementById("codigo_prod").value;
        let data = document.getElementById("data_movimentacao").value;
        let qnt = document.getElementById("quantidade").value;
        let origem = positions.find(pos => pos["codigo"] == "{{position}}")["nome_local"];
        let destino = document.getElementById("ponto_de_destino").value;
        let destino_cod = positions.find(pos => pos["nome_local"] == destino)["codigo"];
        let serie = document.getElementById("id_produto").value;
        let prod_brute = document.getElementById("codigo_prod").value;
        let produto = document.getElementById("codigo_prod").options[document.getElementById("codigo_prod").selectedIndex].text;
        if (!codigo || !data || !qnt || !origem || !destino) {
            alert("Por favor, preencha todos os campos!");
            return;
        }
        let html = "<tr><td>" + data + "</td><td>" + produto + "</td><td>" + serie + "</td><td>" + qnt + "</td><td>" + origem + "</td><td>" + destino + "</td>";
        html += "<td style='display:none;'>" + "{{position}}"  + "</td><td style='display:none;'>" + destino_cod + "</td>" + "</td><td style='display:none;'>" + prod_brute;
        html += "<td <button type='button' onclick='removeThis(this)' class='close' aria-label='Close'><span aria-hidden='true'>&times;</span></button></td></tr>"
        document.getElementById("tableBody").insertAdjacentHTML('beforeend', html);
        document.getElementById("tableContainer").style.display = "block";
    }

    
    function removeThis(element) {
        element.parentElement.remove();
    }

    function sendTableData(){
        let table = document.getElementById("info_table");
      
        let rows = table.getElementsByTagName("tr");
        let tableData = [];

        for (let i = 1; i < rows.length; i++) { // Skip header row
            let cells = rows[i].getElementsByTagName("td");
            let rowData = {
                data_movimentacao: cells[0].innerText,
                codigo_prod: cells[8].innerText,
                nome_produto: cells[1].innerText.split(" | ")[1].trim(),
                id_produto: cells[2].innerText,
                quantidade: cells[3].innerText,
                ponto_de_origem: cells[6].innerText,
                ponto_de_destino: cells[7].innerText,
                operacao: opType

            };
            tableData.push(rowData);
        }
        
        fetch("/send_operation", {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify({ table: tableData })
        })
        .then(data => console.log("Response from server:", data))
        .catch(error => console.error("Error:", error));
    }
    
    
</script>
{% endblock %}