{% extends "index.html" %}
{% block content %}

<div class="container-fluid rounded">
    <div class="page-header bm-1 rounded m-2">
        <h1 class="text-center m-4 p-2" style="color: rgb(0, 0, 0);" > {{collection_name.capitalize()}}</h1>
        <div class="row mb-3 justify-content-center align-items-center">
            <div class="col-10">
                <input type="text" id="searchInput" class="form-control" placeholder="🔍 Pesquisar em {{ collection_name }}" onkeyup="searchCards()" style="border-radius: 20px;">
                <h4 id="resultsCount" class="mt-2 text-muted" style=" color: rgb(0, 0, 0); font-weight: bold; font-size: 0.9rem;"></h4>
            </div>
        </div>
    </div>
            {% if zipped %}
                <div id="main-content" class="flex-grow-1 m-5 rounded">
                    <div class="container table-overflow ">
                        <div class="row " id="card-container" >
                            {% for base, category in zipped %}
                                {% if base and category %}
                                    <div class="col-12 mb-4 card-item ">
                                        <div class="card shadow-sm p-4 rounded card-hover text-black" onclick="window.location.href='/cadastro/produtos';"
                                            style="background-color: #C0C0C0; display: flex; flex-direction: row; align-items: center; height: 140px;">
                                                <div class="card-img-left" style="flex-shrink: 0; width: 100px; height: 100px; border-radius: 50px; overflow: hidden; display: flex; justify-content: center; align-items: center;">
                                                    {% if collection_name == 'pontos' %}
                                                        <img src="{{ url_for('static', filename='images_' + collection_name + '/' + category) }}" alt="Imagem" class="img-fluid" style="object-fit: cover; width: 100%; height: 100%;">
                                                    {% else %}
                                                        <img src="{{ url_for('static', filename='images_' + collection_name + '/icone-' + category) }}" alt="Imagem" class="img-fluid" style="object-fit: cover; width: 100%; height: 100%;">
                                                    {% endif %}
                                                </div>
                                            <div class="card-body d-flex flex-column p-1 position-relative" style="flex-grow: 1; overflow: hidden; max-height: 130px; text-overflow: ellipsis">                                                                                                                       
                                                {% for key, value in base.items() %}
                                                    <div class="card-links position-absolute" style="top: 1px; right: 1px;">
                                                        <a href="/edit_card/{{ collection_name }}/{{ base['Código'] }}" class="btn btn-sm btn-dark me-2 text-center">✏️ Editar</a>
                                                        <a href="/disable_card/{{ collection_name }}/{{ base['Código'] }}" class="btn btn-sm btn-dark text-center" onclick="return confirmarExclusao(event)">🗑️ Excluir</a>
                                                    </div>
                                                    {% if "_title" in key %}
                                                        <h5 class="card-title" style="font-weight: bold; color: #010101;">
                                                            {{ value }} 
                                                        </h5>
                                                    {% endif %}
                                                {% endfor %}
                                                <table class="table table-borderless text-center" style="height: 100%; table-layout: fixed;">
                                                    <thead>
                                                        <tr class="border align-middle text-center">
                                                            {% for key, value in base.items() %}
                                                                {% if "_title" not in key %}
                                                                    <th class="align-middle" style="font-weight: bold; background-color: #F8F8FF;">{{ key }}</th>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr class="border align-middle text-center">
                                                            {% for key, value in base.items() %}
                                                                {% if "_title" not in key %}
                                                                    <td class="align-middle" style="font-size: small;">{{ value[:20] }}{% if value|length > 20 %}...{% endif %}</td>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    {% else %}
                                    {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
      
        {% else %}
            <h2 style="background-color: #07e5da;">A Base de dados {{ title }} está vazia.</h2>
        {% endif %}
            </div>
        </div>
    
    </div>
</div>
    <style>
        .card-hover {
            transition: transform 0.3s ease, box-shadow 0.3s ease;
        }

        .card-hover:hover {
            transform: scale(1.05);
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
        }
    </style>
    <script>
        function searchCards() {
            var input, filter, cards, cardItems, cardTitle, i, txtValue;
            input = document.getElementById("searchInput");
            filter = input.value.toLowerCase();
            cards = document.getElementById("card-container");
            cardItems = cards.getElementsByClassName("card-item");
            visibleCount = 0;
        
            for (i = 0; i < cardItems.length; i++) {
                cardTitle = cardItems[i].getElementsByClassName("card-title")[0];
                if (cardTitle) {
                    const txtValue = cardTitle.textContent || cardTitle.innerText;
                    if (txtValue.toLowerCase().indexOf(filter) > -1) {
                        cardItems[i].style.display = "";
                        visibleCount++; 
                    } else {
                        cardItems[i].style.display = "none"; 
                    }
                }
            }
            document.getElementById("resultsCount").textContent = `Resultados exibidos: ${visibleCount}`;
        }
        window.onload = function() {
            searchCards();
        };
        function confirmarExclusao(event) {
            const confirmacao = confirm("Tem certeza que deseja excluir este item?");
            if (!confirmacao) {
                event.preventDefault();
                return false;
            }
            return true;
        }
    </script>
    {% endblock %}
