<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Inventário</title>
</head>

<body>
    <div class="container">
      <div class="page-header">
          <h1>FORM</h1>
      </div>
      <form action="/send_data" method="post">
        <fieldset>
            {% for x in field %}
          <div class="form-group">
            <label for= '{{x}}'>{{x}}</label>
            <input type='{{x}}' id='{{x}}' name='{{x}}' class="form-control">
          </div>
            {% endfor %}
          <button type="submit"  class="btn btn-primary btn-salvar">Salvar</button>
        </fieldset>
      </form>
    </div>
</body>
</html>