<form id="formTransf" method=" POST">
    <fieldset>
        <div class="form-group p-2">
            <label for="codigo" style="font-weight: bold;">Produto</label>
            <select id="codigo_prod" name="codigo_prod" class="form-control" onchange="get_index(this)" required>
                <option value=""></option>
                {% for key_i, value_i in combined_lists.items() %}
                <option value="{{ key_i.split('|')[0].strip()}}">{{ key_i }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group p-2">
            <label for="{{ field[0]['db_id'] }}">{{ field[0]["pergunta"] }}</label>
            <input type="{{ field[0]['resp_type'] }}" id="{{ field[0]['db_id'] }}" name="{{ field[0]['db_id'] }}"
                value="{{ field[0]['pre_value'] }}" class="form-control" {{ field[0]['em_branco'] }} {{
                field[0]['form_editable'] }}>
        </div>
        {% for x in field[1:] %}
        <div class="form-group p-2" style="font-weight: bold;">
            {% if x['resp_type'] == "list" %}
            <label for="{{ x['db_id'] }}">{{ x['pergunta'] }}</label>
            <select id="{{ x['db_id'] }}" name="{{ x['db_id'] }}" value="{{ x['pre_value'] }}" class="form-control" {{
                x["em_branco"] }} {{ x['form_editable'] }}>
                {% for el in x['list_elements'] %}
                <option value="{{el}}">{{el}}</option>
                {% endfor %}
            </select>
            {% else %}
            <label for="{{ x['db_id'] }}">{{ x["pergunta"] }}</label>
            <input type="{{ x['resp_type'] }}" id="{{ x['db_id'] }}" name="{{ x['db_id'] }}"
                value="{{ x['pre_value'] }}" class="form-control" {{ x['em_branco'] }} {{ x['form_editable'] }}>
            {% endif %}
        </div>
        {% endfor %}

        <button type="button" onclick="addProduct()" class="btn btn-secondary m-2">adicionar produto</button>
        <button type="button" onclick="sendTableData()" class="btn btn-secondary m-2">AlternativoBUG</button>
        <button type="submit" onclick="sendTableData()" class="btn btn-secondary m-2">Confirmar Mudanças</button>
    </fieldset>
    <fieldset>
        <div id="tableContainer" style="display: none;">
            <table id="info_table" class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col" name="data">Data</th>
                        <th scope="col" name="produto">Produto</th>
                        <th scope="col" name="id">Número Série/Patrimônio</th>
                        <th scope="col" name="quantidade">Qnt.</th>
                        <th scope="col">Origem</th>
                        <th scope="col">Destino</th>
                        <th scope="col" style="display:none;">position</th>
                        <th scope="col" style="display:none;">cod_prod</th>
                        <th scope="col" class="close" style="display:none;">cod_prod</th>
                    </tr>
                </thead>
                <tbody id="tableBody">
                </tbody>
            </table>
        </div>
    </fieldset>
</form>

<script>
    const list_elements = 0;
    let positions = {{ from_p | tojson}};
    let lists_combined = {{ combined_lists | tojson}};
    console.log(lists_combined);
    if (list_elements > 0) {
        let html = "<button type='submit' class='btn btn-primary m-2'>Confirmar Envio</button>";
        document.getElementById("formEntradas").insertAdjacentHTML('beforeend', html);
    }
    $(document).ready(function () {
        $('#codigo_prod').select2({
            placeholder: "Clique para localizar o produto",
            allowClear: true
        });
    });

    function get_index(product) {
        console.log("Trigger to get index");
        const series_element = document.getElementById("id_produto");
        series_element.innerHTML = "";
        for (const available in lists_combined[product[product.selectedIndex].text]) {
            const index_to_add = lists_combined[product[product.selectedIndex].text][available]
            series_element.innerHTML += `<option value=${index_to_add["id_produto"]}>${index_to_add["id_produto"]}</option>`;
        }
    }

    function get_qt(id_product) {
        text_id = id_product[id_product.selectedIndex].text
        console.log("Trigger to get_qt, this is: ", text_id);
        const qt_element = document.getElementById("quantidade");
        const product = document.getElementById("codigo_prod");
        qt_element.min = 1;
        const info_value = document.getElementById("info-value");
        let html = "<p id='info-value' class='text-start'>Você não pode adicionar mais que "
        if (text_id == "") {
            qt_element.max = lists_combined[product[product.selectedIndex].text][0]["quantidade"];

        }
        else {
            qt_element.max = 1;
            qt_element.value = 1;
        }
        html += qt_element.max + " unidade(s) deste produto.</p>";
        if (info_value) {
            info_value.innerHTML = html;
        }
        else {
            qt_element.insertAdjacentHTML('afterend', html);
        }

    }
    window.onchange = function () {
        const id = document.getElementById("id_produto");

        id.onchange = get_qt(id);
    }

    function removeThis(element) {
        element.parentElement.remove();
    }

    function addProduct() {
        let codigo = document.getElementById("codigo_prod").value;
        let data = document.getElementById("data_movimentacao").value;
        let qnt = document.getElementById("quantidade").value;
        let origem = positions.find(pos => pos["codigo"] == "{{position}}")["nome_local"];
        let destino = document.getElementById("ponto_de_destino").value;
        let serie = document.getElementById("id_produto").value;
        let prod_brute = document.getElementById("codigo_prod").value;
        let produto = document.getElementById("codigo_prod").options[document.getElementById("codigo_prod").selectedIndex].text;
        if (!codigo || !data || !qnt || !origem || !destino) {
            alert("Por favor, preencha todos os campos!");
            return;
        }
        let html = "<tr><td>" + data + "</td><td>" + produto + "</td><td>" + serie + "</td><td>" + qnt + "</td><td>" + origem + "</td><td>" + destino + "</td>";
        html += "<td style='display:none;'>" + "{{position}}" + "</td><td style='display:none;'>" + prod_brute + "</td>"
        html += "<td <button type='button' onclick='removeThis(this)' class='close' aria-label='Close'><span aria-hidden='true'>&times;</span></button></td></tr>"
        document.getElementById("tableBody").insertAdjacentHTML('beforeend', html);
        document.getElementById("tableContainer").style.display = "block";
    }

</script>